@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Titillium+Web&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}


.box-container {
    border: 1px solid black;
    width: 90%;
    background-color: black;
    border-radius: 30px;
    margin: auto; 
    
}
   
.box-inner{
    display: flex;
    justify-content: space-evenly;
    align-items: center;  
}
.box-inner h1{
    font-size: 50px;
    color: white;
} 

.box-inner p{
    font-size: 16px;
    color: white;
}
.button{
    text-decoration: none;
    background-color: navy;
    color: white;
    padding: 15px 20px;
    font-size: 16px;
}
.written{
    width: 50%;
   padding-left: 9%; 
}


.picture {
    width: 50%;
}
.picture img{
    width: 100%;
} 

/*----main part----*/
.main-part{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin:100px auto;
}

.group{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    background-color: black;
    border-radius: 10px;
    width: 20%;
    justify-content: space-evenly;
    height: 312px;
      

}
.group p{
    width: 80%;
    background-color: white;
    border-radius: 10px;
    color: black;
    margin: 0 auto;
    padding: 10px 5px;
    text-align: center;
}
.group p a{
    text-decoration: none;
    color: black;
}



.group p.blog{
   background-color: navy;
   color: white;
}
.group p.blog a{
    color: white;
}

.btn-transfer{
    text-decoration: none;
    border: 1px solid black;
    color: black;
    padding: 5px 10px;
    border-radius: 5px;
}
.time{
    display: flex;
    justify-content: space-evenly;
    color: gray;
    padding-bottom: 10px;
    font-size: 13px;
     
}

.blog{
    border: 0.30px solid gray;
    border-radius:7px;
} 

.blog-info{
    font-size: 13px;
    padding: 15px;
}

.blogs{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    width: 78%;
    gap: 24px;
}
   
   
   
.thumbnail img{
    width: 100%;
}

.morebtn a{
    color: white;
    text-decoration: none;   
}
.morebtn .btn{
    background-color: navy;
    
}
.morebtn{
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
    margin-top: 72px;
    margin-bottom: 60px;
    padding: 20px 25px;
   
    
}
/*--footer--*/
footer{
    width: 100%;
    height: 440px;
    background-color: black;
    color: white;
    margin-top: 136px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.footer-nav{
    border-top: 1px solid gray;
    display: flex;
    justify-content: center;
    padding-top: 30px;
    width: 80%;
    margin: 0 auto;
}
.footer-nav a{
    text-decoration: none;
    color: white;
    padding: 0 20px;
}
/* upcoming-section */

.matches{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 24px;
    width: 78%;
}
.match{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid gray;
    border-radius: 10px;
    box-shadow: 5px 5px 10px gray;
    
   
}
.match-banner{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;

}
.match-banner strong{
    padding: 0 20px;
}
.match-banner img{
    width: 100%;
}
.social-icon{
    margin-top: 50px;
}
span.social-logos{
    display: grid;
    grid-template-columns: repeat(3,100px);
    justify-content: center;
    margin-top: 75px;
}
span.social-logos i:nth-child(3){
    color:#0089ff;
}
span.social-logos i:nth-child(2){
    color:blue;
}
span.social-logos i:nth-child(1){
    color:#f5368a;
}
    


/*------ making respnsive
-------------------------- */

@media only screen and (min-width:668px) and (max-width: 992px) {
    .box-container {
        width: 100%;
        overflow: hidden;
    }

    .box-container .box-inner {
        margin: 0px 0px;
    }

    .blogs {
        grid-template-columns: repeat(2, 1fr);
    }

    .footer-nav a {
        grid-template-columns: repeat(4, 1fr);
        align-content: center;
        row-gap: 20px;
    }

    .main-part {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .group {
        position: unset;
        top: 0;
        background: none;
        width: 80%;
    }

    .group p a {
        display: flex;
        background-color: white;
        border: 1px solid #80808069;
    }

    .group a {
        display: flex;
    }

    .group p {
        display: flex;
        justify-content: space-evenly;
    }

    .morebtn {
        display: block;
        margin-left: 41%;
    }
}


/* for mobile or small devices 
================================== */
@media only screen and (max-width:668px) {
    .written p {
        font-weight: 300;
        font-size: 22px;
        width: unset;
    }

    .box-container .box-inner {
        flex-direction: column;
        padding: unset;
    }

    .box-container {
        width: 100%;
        border-radius: 10px;
    }

    .main-part {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding: unset;
    }

    .written {
        justify-content: center;
        width: 100%;
        font-size: 24px;
        text-align: center;
        margin-top: 36px;
    }

    .box-container .box-inner {
        margin: unset;
        display: grid;
        row-gap: 25px;
        align-items: center;
        justify-content: space-between;
    }

    .picture img {
        width: 143%;
        margin-left: 28%;
    }

    .matches {
        grid-template-columns: repeat(1, 1fr);
    }

    .footer-nav a {
        grid-template-columns: repeat(1, 1fr);
        align-content: center;
        row-gap: 20px;
    }

    .group {
        position: unset;
        top: 0;
        background: none;
        width: 80%;
    }

    .group p a {
        display: flex;
        background-color: white;
        border: 1px solid #80808069;
    }

    .main {
        display: flex;
        justify-content: center;
    }

}